<div style="text-align: center; padding: unset; background-color: #f7f7f7">

  <div style="padding-right: inherit; background-color: #f2f2f2;
     border-bottom: 5px solid #d9d9d9">
    <div class="row  justify-content-center" style="height: 15vh; padding-top: 5vh">
      <div style="margin-right: 4%">
        <svg class="bi bi-chat-square-dots-fill" width="3em" height="3em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M0 2a2 2 0 012-2h12a2 2 0 012 2v8a2 2 0 01-2 2h-2.5a1 1 0 00-.8.4l-1.9 2.533a1 1 0 01-1.6 0L5.3 12.4a1 1 0 00-.8-.4H2a2 2 0 01-2-2V2zm5 4a1 1 0 11-2 0 1 1 0 012 0zm4 0a1 1 0 11-2 0 1 1 0 012 0zm3 1a1 1 0 100-2 1 1 0 000 2z" clip-rule="evenodd"/>
        </svg>
      </div>
      <div>
        <h1>Conversacion</h1>
      </div>
    </div>
  </div>

  <div class="row">

    <div class="col" style="height: 75vh">

      <div style="height: auto; min-height: 70%;">

        <div class="form-control chat" style="text-align: right;
            width: 80%; margin-left: 15%">
          "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
          incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
          nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          <br><br>
          Tu (Nombre hotel), 14:00
        </div>

        <div class="form-control chat" style="text-align: left;
            width: 80%; margin-right: 15%; margin-left: 5%">
          "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
          incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
          nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
          eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt
          in culpa qui officia deserunt mollit anim id est laborum."
          <br><br>
          Usuario (Nombre, Apellidos), 14:28
        </div>

      </div>

      <div style="height: 30%">
        <div contenteditable="true" class="form-control backgroundAndTextCC" style="height: auto;
           min-height: 100%; text-align: left; margin-right: 5%; margin-left: 5%; width: 90%"></div>
      </div>

    </div>
  </div>

</div>
