<div class="row justify-content-center">
  <h1>Cambio de contraseña</h1>
</div>
<br>
<div class="row justify-content-center">
  <div class="col-sm-4">
    <br>
    <div class="row justify-content-center">
      <div class="col-sm-4">
      </div>
      <div class="col-sm-5">
        <button type="button" class="btn btn-primary btn-lg btn-block">Inicio</button>
      </div>
      <div class="col-sm-3">
      </div>
    </div>
    <br>
    <div class="row justify-content-center">
      <div class="col-sm-4">
      </div>
      <div class="col-sm-5">
        <button type="button" class="btn btn-primary btn-lg btn-block">Perfil</button>
      </div>
      <div class="col-sm-3">
      </div>

    </div>
    <br>
    <div class="row justify-content-center">
      <div class="col-sm-4">
      </div>
      <div class="col-sm-5">
        <button type="button" class="btn btn-primary btn-lg btn-block"> Conversaciones </button>
      </div>
      <div class="col-sm-3">
      </div>
    </div>
    <br>
    <div class="row justify-content-center">
      <div class="col-sm-4">
      </div>
      <div class="col-sm-5">
        <button type="button" class="btn btn-primary btn-lg btn-block">Estadísticas</button>
      </div>
      <div class="col-sm-3">
      </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="row justify-content-center">
      <div class="col-sm-4">
      </div>
      <div class="col-sm-5">
        <button type="button" class="btn btn-primary btn-lg btn-block">Salir</button>
      </div>
      <div class="col-sm-3">
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <br>
    <div class="row justify-content-center">
      <div class="container justify-content-center" style="background-color: #f7f7f7">
        <div class="row">
          <label class="control-label">Bienvenido, </label>
        </div>
      </div>
    </div>
    <br>
    <div class="row justify-content-center">
      <div class="container justify-content-center" style="background-color: #f7f7f7">
        <div class="row">
          <label class="control-label" for="inputPassActual">Introduzca su contraseña </label>
          <input class="form-control" id="inputPassActual">
        </div>
        <br>
        <div class="row">
          <label class="control-label" for="inputNewPass">Introduzca su nueva contraseña </label>
          <input class="form-control" id="inputNewPass">
        </div>
        <br>
        <div class="row">
          <label class="control-label" for="inputNewPassAgain">Confirme su nueva contraseña </label>
          <input class="form-control" id="inputNewPassAgain">
        </div>
        <br>
        <div class="row justify-content-center">
          <button type="button" class="btn btn-primary btn-lg">Guardar Cambios</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-4">

  </div>
</div>


