<div class="container justify-content-center" style="background-color: #f7f7f7; max-width: inherit; height: 100vh">
  <div id="pageName" class="row justify-content-center" style="padding-top: 5vh">
    <h1>{{ pageName }}</h1>
  </div>

  <br>

  <div class="row justify-content-center">
    <div class="col-sm-4">
    </div>
    <div class="col-sm-4">
      <label for="email">Email address</label>
      <input #email type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email">
      <small id="emailHelp" class="form-text text-muted">Tu información será privada y no se compartirá en ningún caso.</small>
      <h6 class="text-danger">{{this.aviso2}}</h6>
    </div>
    <div class="col-sm-4">
    </div>
  </div>

  <br>

  <div class="row justify-content-center">
    <div class="col-sm-4">
    </div>
    <div class="col-sm-4">
      <label for="password">Password</label>
      <input #password type="password" class="form-control" id="password" placeholder="Password">
      <h6 class="text-danger">{{this.aviso}}</h6>
    </div>
    <div class="col-sm-4">
    </div>
  </div>

  <br>
  <div class="row justify-content-center">
    <button id="login" type="button" class="btn btn-primary btn-lg" (click)="logIn()">Acceder</button>
  </div>
  <br>
  <div class="row justify-content-center">
    <a id="buttonRegistry" class="text-info" routerLink="/registry">Todavía no tienes una cuenta? Regístrate</a>
  </div>
  <br>
  <div>
    <a href="https://back-turismoaragon.herokuapp.com/auth/google">
      <div class="row justify-content-center">
        <div class="g-signin2" data-onsuccess="onSignIn"></div>
        <button class="btn btn-social btn-google">
          <span class="fa fa-google"></span> Accede con tu cuenta de Google</button>
      </div>
    </a>
  </div>
</div>
