<div class="row">

  <div class="col-3" style="text-align: center; padding-top: 10vh; border-right: 1vw solid #559ffa">

    <button type="button" class="buttonCustom btn btn-success">Inicio</button>
    <br>
    <button type="button" class="buttonCustom btn btn-primary">Estadísticas</button>
    <br>
    <button type="button" class="buttonCustom btn btn-danger"
            style="margin-top: 50vh; margin-bottom: 10vh">Salir</button>


  </div>

  <div class="col-6" style="text-align: center; padding-top: 3vh; border-right: 1vw solid #559ffa">


    <div class="card bg-light mb-3" style="width: 90%; display: inline-flex">

      <div class="card-header" style="border-bottom: 1vh solid #559ffa; text-align: left">
        <h5 class="card-title">Nombre Apellidos</h5>
      </div>

      <div class="card-body">
        <div class="row">
          <div style="width: 30%; text-align: center; margin: auto">
            <h6>E-mail</h6>
          </div>
          <div style="width: 20%; text-align: center; margin: auto">
            <h6>Provincia</h6>
          </div>
          <div style="width: 20%; text-align: center; margin: auto">
            <h6>País</h6>
          </div>
          <div style="width: 30%; text-align: center">
            <button type="button" class="btn btn-primary" style="width: 90%">
              <svg class="bi bi-arrow-right" width="3em" height="3em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M10.146 4.646a.5.5 0 01.708 0l3 3a.5.5 0 010 .708l-3 3a.5.5 0 01-.708-.708L12.793 8l-2.647-2.646a.5.5 0 010-.708z" clip-rule="evenodd"/>
                <path fill-rule="evenodd" d="M2 8a.5.5 0 01.5-.5H13a.5.5 0 010 1H2.5A.5.5 0 012 8z" clip-rule="evenodd"/>
              </svg>
            </button>
          </div>
        </div>
      </div>

    </div>

    <div class="card bg-light mb-3" style="width: 90%; display: inline-flex">

      <div class="card-header" style="border-bottom: 1vh solid #559ffa; text-align: left">
        <h5 class="card-title">Nombre Apellidos</h5>
      </div>

      <div class="card-body">
        <div class="row">
          <div style="width: 30%; text-align: center; margin: auto">
            <h6>E-mail</h6>
          </div>
          <div style="width: 20%; text-align: center; margin: auto">
            <h6>Provincia</h6>
          </div>
          <div style="width: 20%; text-align: center; margin: auto">
            <h6>País</h6>
          </div>
          <div style="width: 30%; text-align: center">
            <button type="button" class="btn btn-primary" style="width: 90%">
              <svg class="bi bi-arrow-right" width="3em" height="3em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M10.146 4.646a.5.5 0 01.708 0l3 3a.5.5 0 010 .708l-3 3a.5.5 0 01-.708-.708L12.793 8l-2.647-2.646a.5.5 0 010-.708z" clip-rule="evenodd"/>
                <path fill-rule="evenodd" d="M2 8a.5.5 0 01.5-.5H13a.5.5 0 010 1H2.5A.5.5 0 012 8z" clip-rule="evenodd"/>
              </svg>
            </button>
          </div>
        </div>
      </div>

    </div>

    <div class="card bg-light mb-3" style="width: 90%; display: inline-flex">

      <div class="card-header" style="border-bottom: 1vh solid #559ffa; text-align: left">
        <h5 class="card-title">Nombre Apellidos</h5>
      </div>

      <div class="card-body">
        <div class="row">
          <div style="width: 30%; text-align: center; margin: auto">
            <h6>E-mail</h6>
          </div>
          <div style="width: 20%; text-align: center; margin: auto">
            <h6>Provincia</h6>
          </div>
          <div style="width: 20%; text-align: center; margin: auto">
            <h6>País</h6>
          </div>
          <div style="width: 30%; text-align: center">
            <button type="button" class="btn btn-primary" style="width: 90%">
              <svg class="bi bi-arrow-right" width="3em" height="3em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M10.146 4.646a.5.5 0 01.708 0l3 3a.5.5 0 010 .708l-3 3a.5.5 0 01-.708-.708L12.793 8l-2.647-2.646a.5.5 0 010-.708z" clip-rule="evenodd"/>
                <path fill-rule="evenodd" d="M2 8a.5.5 0 01.5-.5H13a.5.5 0 010 1H2.5A.5.5 0 012 8z" clip-rule="evenodd"/>
              </svg>
            </button>
          </div>
        </div>
      </div>

    </div>

    <div class="card bg-light mb-3" style="width: 90%; display: inline-flex">

      <div class="card-header" style="border-bottom: 1vh solid #559ffa; text-align: left">
        <h5 class="card-title">Nombre Apellidos</h5>
      </div>

      <div class="card-body">
        <div class="row">
          <div style="width: 30%; text-align: center; margin: auto">
            <h6>E-mail</h6>
          </div>
          <div style="width: 20%; text-align: center; margin: auto">
            <h6>Provincia</h6>
          </div>
          <div style="width: 20%; text-align: center; margin: auto">
            <h6>País</h6>
          </div>
          <div style="width: 30%; text-align: center">
            <button type="button" class="btn btn-primary" style="width: 90%">
              <svg class="bi bi-arrow-right" width="3em" height="3em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M10.146 4.646a.5.5 0 01.708 0l3 3a.5.5 0 010 .708l-3 3a.5.5 0 01-.708-.708L12.793 8l-2.647-2.646a.5.5 0 010-.708z" clip-rule="evenodd"/>
                <path fill-rule="evenodd" d="M2 8a.5.5 0 01.5-.5H13a.5.5 0 010 1H2.5A.5.5 0 012 8z" clip-rule="evenodd"/>
              </svg>
            </button>
          </div>
        </div>
      </div>

    </div>

  </div>

  <div class="col-3" style="text-align: center; padding-top: 5vh">

    <div class="row justify-content-center" style="margin-bottom: 4vh">
      <div style="margin-right: 5%">
        <svg class="bi bi-search" width="3em" height="3em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 011.415 0l3.85 3.85a1 1 0 01-1.414 1.415l-3.85-3.85a1 1 0 010-1.415z" clip-rule="evenodd"/>
          <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 100-11 5.5 5.5 0 000 11zM13 6.5a6.5 6.5 0 11-13 0 6.5 6.5 0 0113 0z" clip-rule="evenodd"/>
        </svg>
      </div>
      <div style="margin-top: auto">
        <h2>Buscar</h2>
      </div>
    </div>

    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">Nombre</span>
      </div>
      <input type="text" class="form-control" aria-label="Name" aria-describedby="basic-addon1">
    </div>

    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon2">Apellidos</span>
      </div>
      <input type="text" class="form-control" aria-label="Surname" aria-describedby="basic-addon2">
    </div>

    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon3">E-mail</span>
      </div>
      <input type="text" class="form-control" aria-label="email" aria-describedby="basic-addon3">
    </div>

    <button type="button" class="btn btn-primary" style="width: 60%; margin: auto">
      <h2>BUSCAR</h2>
    </button>

  </div>

</div>
