<div class="row" style="background-color: #f7f7f7">

  <div class="col-3" style="text-align: center; padding: unset">

    <div style="padding-right: inherit; background-color: #f2f2f2;
     border-bottom: 5px solid #d9d9d9">
      <div class="row justify-content-center" style="height: 15vh; padding-top: 5vh">
        <div>
          <svg class="bi bi-people-circle" width="3em" height="3em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path d="M13.468 12.37C12.758 11.226 11.195 10 8 10s-4.757 1.225-5.468 2.37A6.987 6.987 0 008 15a6.987 6.987 0 005.468-2.63z"/>
            <path fill-rule="evenodd" d="M8 9a3 3 0 100-6 3 3 0 000 6z" clip-rule="evenodd"/>
            <path fill-rule="evenodd" d="M8 1a7 7 0 100 14A7 7 0 008 1zM0 8a8 8 0 1116 0A8 8 0 010 8z" clip-rule="evenodd"/>
          </svg>
        </div>
        <div style="width: 50%; margin-left: 5%; text-align: left">
          <div>
            <h6>{{ user.nombre }} {{ user.apellidos }}</h6>
          </div>
          <div>
            <h6>{{ user.pais }}, {{ user.provincia }}</h6>
          </div>
        </div>
      </div>
    </div>

    <div style="padding-top: 2vh">
      <button type="button" class="buttonCustom btn btn-primary" routerLink="/index-user">
        <svg class="bi bi-house-door-fill" width="1.2em" height="1.2em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path d="M6.5 10.995V14.5a.5.5 0 01-.5.5H2a.5.5 0 01-.5-.5v-7a.5.5 0 01.146-.354l6-6a.5.5 0 01.708 0l6 6a.5.5 0 01.146.354v7a.5.5 0 01-.5.5h-4a.5.5 0 01-.5-.5V11c0-.25-.25-.5-.5-.5H7c-.25 0-.5.25-.5.495z"/>
          <path fill-rule="evenodd" d="M13 2.5V6l-2-2V2.5a.5.5 0 01.5-.5h1a.5.5 0 01.5.5z" clip-rule="evenodd"/>
        </svg>
        Inicio
      </button>
      <br>
      <button type="button" class="buttonCustom btn buttonCustomColor" routerLink="/profile">
        <svg class="bi bi-person-fill" width="1.2em" height="1.2em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 100-6 3 3 0 000 6z" clip-rule="evenodd"/>
        </svg>
        Perfil
      </button>
      <br>
      <button type="button" class="buttonCustom btn buttonCustomColor" routerLink="/chat-user">
        <svg class="bi bi-chat-square-dots-fill" width="1.2em" height="1.2em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M0 2a2 2 0 012-2h12a2 2 0 012 2v8a2 2 0 01-2 2h-2.5a1 1 0 00-.8.4l-1.9 2.533a1 1 0 01-1.6 0L5.3 12.4a1 1 0 00-.8-.4H2a2 2 0 01-2-2V2zm5 4a1 1 0 11-2 0 1 1 0 012 0zm4 0a1 1 0 11-2 0 1 1 0 012 0zm3 1a1 1 0 100-2 1 1 0 000 2z" clip-rule="evenodd"/>
        </svg>
        Conversaciones
      </button>
      <br>
      <button type="button" class="buttonCustom btn buttonCustomColor" routerLink="/stats-user">
        <svg class="bi bi-graph-up" width="1.2em" height="1.2em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path d="M0 0h1v16H0V0zm1 15h15v1H1v-1z"/>
          <path fill-rule="evenodd" d="M14.39 4.312L10.041 9.75 7 6.707l-3.646 3.647-.708-.708L7 5.293 9.959 8.25l3.65-4.563.781.624z" clip-rule="evenodd"/>
          <path fill-rule="evenodd" d="M10 3.5a.5.5 0 01.5-.5h4a.5.5 0 01.5.5v4a.5.5 0 01-1 0V4h-3.5a.5.5 0 01-.5-.5z" clip-rule="evenodd"/>
        </svg>
        Estadísticas
      </button>
      <br>
      <button type="button" class="buttonCustom btn btn-danger"
              style="margin-top: 10vh; margin-bottom: 10vh" (click)="currentUser.logOut()" routerLink="/login">
        <svg class="bi bi-box-arrow-left" width="1.2em" height="1.2em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M4.354 11.354a.5.5 0 000-.708L1.707 8l2.647-2.646a.5.5 0 10-.708-.708l-3 3a.5.5 0 000 .708l3 3a.5.5 0 00.708 0z" clip-rule="evenodd"/>
          <path fill-rule="evenodd" d="M11.5 8a.5.5 0 00-.5-.5H2a.5.5 0 000 1h9a.5.5 0 00.5-.5z" clip-rule="evenodd"/>
          <path fill-rule="evenodd" d="M14 13.5a1.5 1.5 0 001.5-1.5V4A1.5 1.5 0 0014 2.5H7A1.5 1.5 0 005.5 4v1.5a.5.5 0 001 0V4a.5.5 0 01.5-.5h7a.5.5 0 01.5.5v8a.5.5 0 01-.5.5H7a.5.5 0 01-.5-.5v-1.5a.5.5 0 00-1 0V12A1.5 1.5 0 007 13.5h7z" clip-rule="evenodd"/>
        </svg>
        Salir
      </button>
    </div>

  </div>


  <!------------------------------- SECOND COLUMN ----------------------------------------------->


  <div class="col-6" style="text-align: center; padding: unset">

    <div style="padding-right: inherit; background-color: #f2f2f2;
     border-bottom: 5px solid #d9d9d9">
      <div class="row justify-content-center" style="height: 15vh; padding-top: 5vh">
        <div style="margin-right: 5%">
          <svg class="bi bi-house-door-fill" width="3em" height="3em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path d="M6.5 10.995V14.5a.5.5 0 01-.5.5H2a.5.5 0 01-.5-.5v-7a.5.5 0 01.146-.354l6-6a.5.5 0 01.708 0l6 6a.5.5 0 01.146.354v7a.5.5 0 01-.5.5h-4a.5.5 0 01-.5-.5V11c0-.25-.25-.5-.5-.5H7c-.25 0-.5.25-.5.495z"/>
            <path fill-rule="evenodd" d="M13 2.5V6l-2-2V2.5a.5.5 0 01.5-.5h1a.5.5 0 01.5.5z" clip-rule="evenodd"/>
          </svg>
        </div>
        <div>
          <h1>Inicio</h1>
        </div>
      </div>
    </div>

    <div class="btn-group" style="width: 85%; margin-bottom: 4vh; padding-top: 3vh">
      <select (change)="selection($event)" class="custom-select">
        <option value="1">Hoteles</option>
        <option value="2">Turismo rural</option>
        <option value="3">Apartamentos</option>
        <option value="4">Campings</option>
        <option value="5">Refugios</option>
        <option value="6">Restaurantes</option>
        <option value="7">Oficinas de turismo</option>
        <option value="8">Puntos de información</option>
        <option value="9">Guías</option>
      </select>
    </div>

    <div *ngFor="let entry of showEntries" class="card bg-light mb-3" style="width: 90%; display: inline-flex">

      <div class="card-header {{ entry.tipoEntry }}">
        <div class="row">
          <div style="width: 20%; text-align: center">
            <h6>{{ entry.tipoEntry }}</h6>
          </div>
          <div *ngIf="entry.comun" style="width: 50%; text-align: center">
            <h5 class="card-title">{{entry.comun.nombre}}</h5>
          </div>
          <div *ngIf="!entry.comun" style="width: 50%; text-align: center">
            <h5 class="card-title">{{ entry.nombre }}</h5>
          </div>
          <div style="width: 30%; text-align: center;">
            <div *ngIf="entry.tipoEntry == 'Hotel'">
              <svg *ngFor="let star of numberReturn(entry.estrellas)" class="bi bi-star-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
              </svg>
            </div>
            <div *ngIf="entry.tipoEntry == 'Turismo rural'">
              <svg *ngFor="let star of numberReturn(entry.espigas)" class="bi bi-star-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
              </svg>
            </div>
            <div *ngIf="entry.tipoEntry == 'Restaurante'">
              <svg *ngFor="let star of numberReturn(entry.categoria)" class="bi bi-star-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
              </svg>
            </div>
          </div>
        </div>
      </div>

      <div class="card-body">
        <div class="row">
          <div *ngIf="entry.comun" style="width: 25%; text-align: center; margin: auto">
            <h5>{{ entry.comun.municipio }}</h5>
          </div>
          <div *ngIf="!entry.comun"  style="width: 25%; text-align: center; margin: auto">
            <h5>{{ entry.municipio }}</h5>
          </div>
         <div *ngIf="entry.comun" style="width: 25%; text-align: center; margin: auto">
            <h6>{{ entry.comun.provincia }}</h6>
          </div>
          <div *ngIf="!entry.comun" style="width: 25%; text-align: center; margin: auto">
            <h6>{{ entry.provincia }}</h6>
          </div>
          <div style="width: 50%; text-align: center">
            <button type="button" class="btn btn-primary" style="width: 90%" (click)="navigateToEntry(entry)">
              <svg class="bi bi-arrow-right" width="3em" height="3em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M10.146 4.646a.5.5 0 01.708 0l3 3a.5.5 0 010 .708l-3 3a.5.5 0 01-.708-.708L12.793 8l-2.647-2.646a.5.5 0 010-.708z" clip-rule="evenodd"/>
                <path fill-rule="evenodd" d="M2 8a.5.5 0 01.5-.5H13a.5.5 0 010 1H2.5A.5.5 0 012 8z" clip-rule="evenodd"/>
              </svg>
            </button>
          </div>
        </div>
      </div>

    </div>

    <div class="row" style="margin-top: 4%; width: 30%; text-align: center; display: inline-flex">

      <div class="col-4">
        <label *ngIf="page > 1" style="font-size: 15px; text-align: center" (click)="paginaAnterior()">
          [{{ page - 1 }}]
        </label>
      </div>

      <div class="col-4">
        <label style="font-size: 20px; text-align: center">
          [{{ page }}]
        </label>
      </div>

      <div class="col-4">
        <label *ngIf="page < numPages" style="font-size: 15px; text-align: center" (click)="paginaSiguiente()">
          [{{ page + 1 }}]
        </label>
      </div>

    </div>

  </div>
  <!------------------------------- THIRD COLUMN ----------------------------------------------->

  <div class="col-3" style="text-align: center; padding: unset">

    <div style="padding-right: inherit; background-color: #f2f2f2;
     border-bottom: 5px solid #d9d9d9">
      <div class="row justify-content-center" style="height: 15vh; padding-top: 5vh">
        <div style="margin-right: 5%">
          <svg class="bi bi-search" width="3em" height="3em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 011.415 0l3.85 3.85a1 1 0 01-1.414 1.415l-3.85-3.85a1 1 0 010-1.415z" clip-rule="evenodd"/>
            <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 100-11 5.5 5.5 0 000 11zM13 6.5a6.5 6.5 0 11-13 0 6.5 6.5 0 0113 0z" clip-rule="evenodd"/>
          </svg>
        </div>
        <div>
          <h2>Buscar</h2>
        </div>
      </div>
    </div>

    <div style="padding-top: 2vh">
      <h6 class="textCustomColor">Provincia:</h6>
      <div class="btn-group" style="width: 85%; margin-bottom: 2vh">
        <select id="selectionProvincia" class="custom-select">
          <option value="">Todas</option>
          <option value="Zaragoza">Zaragoza</option>
          <option value="Huesca">Huesca</option>
          <option value="Teruel">Teruel</option>
        </select>
      </div>

      <h6 class="textCustomColor">Comarca:</h6>
      <div class="btn-group" style="width: 85%; margin-bottom: 2vh">
          <input type="text" id="selectionComarca" class="form-control">
      </div>

      <h6 class="textCustomColor">Municipio:</h6>
      <div class="btn-group" style="width: 85%; margin-bottom: 2vh">
          <input type="text" id="selectionMunicipio" class="form-control">
      </div>

      <h6 class="textCustomColor">{{ calidadString }}</h6>
      <div class="row">
        <div style="width: 50%">
          <h6 class="textCustomColor">Mínimo</h6>
          <div class="btn-group" style="width: 65%; margin-bottom: 2vh">
            <select id="selectionEstrellasMin" class="custom-select">
              <option value="1">1 (Una)</option>
              <option value="2">2 (Dos)</option>
              <option value="3">3 (Tres)</option>
              <option value="4">4 (Cuatro)</option>
              <option value="5">5 (Cinco)</option>
            </select>
          </div>
        </div>

        <div style="width: 50%">
          <h6 class="textCustomColor">Máximo</h6>
          <div class="btn-group" style="width: 65%; margin-bottom: 2vh">
            <select id="selectionEstrellasMax" class="custom-select">
              <option value="5">5 (Cinco)</option>
              <option value="4">4 (Cuatro)</option>
              <option value="3">3 (Tres)</option>
              <option value="2">2 (Dos)</option>
              <option value="1">1 (Una)</option>
            </select>
          </div>
        </div>
      </div>

      <h6 class="textCustomColor">Idioma (Guías turísticos):</h6>
      <div class="btn-group" style="width: 85%; margin-bottom: 4vh">
        <div class="col-4">

          <input checked disabled type="checkbox" class="form-check-input" id="espanol">
          <label class="form-check-label" for="espanol">Español</label>
          <br>
          <input type="checkbox" class="form-check-input" id="ingles">
          <label class="form-check-label" for="ingles">Ingles</label>

        </div>

        <div class="col-4">

          <input type="checkbox" class="form-check-input" id="frances">
          <label class="form-check-label" for="frances">Frances</label>
          <br>
          <input type="checkbox" class="form-check-input" id="italiano">
          <label class="form-check-label" for="italiano">Italiano</label>

        </div>

        <div class="col-4">

          <input type="checkbox" class="form-check-input" id="aleman">
          <label class="form-check-label" for="aleman">Aleman</label>
          <br>
          <input type="checkbox" class="form-check-input" id="otros">
          <label class="form-check-label" for="otros">Otros</label>

        </div>
      </div>

      <button type="button" class="btn btn-primary" style="width: 60%; margin: auto" (click)="search(true)">
        <h2>Buscar</h2>
      </button>
    </div>

  </div>

</div>
