.Hotel {
  border-bottom: 1vh solid #559ffa
}

.Apartamento {
  border-bottom: 1vh solid #eb4034
}

.Refugio {
  border-bottom: 1vh solid #62eb23
}

.Turismo {
  border-bottom: 1vh solid #27c2b2
}

.Camping {
  border-bottom: 1vh solid #27c25d
}
