<div class="row" style="background-color: #f7f7f7">

  <div class="col-3" style="text-align: center; padding: unset">

    <div style="padding-right: inherit; background-color: #f2f2f2;
     border-bottom: 5px solid #d9d9d9">
      <div class="row justify-content-center" style="height: 15vh; padding-top: 5vh">
        <div>
          <svg class="bi bi-people-circle" width="3em" height="3em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path d="M13.468 12.37C12.758 11.226 11.195 10 8 10s-4.757 1.225-5.468 2.37A6.987 6.987 0 008 15a6.987 6.987 0 005.468-2.63z"/>
            <path fill-rule="evenodd" d="M8 9a3 3 0 100-6 3 3 0 000 6z" clip-rule="evenodd"/>
            <path fill-rule="evenodd" d="M8 1a7 7 0 100 14A7 7 0 008 1zM0 8a8 8 0 1116 0A8 8 0 010 8z" clip-rule="evenodd"/>
          </svg>
        </div>
        <div style="width: 50%; margin-left: 5%; text-align: left">
          <div>
            <h6>{{ user.nombre }} {{ user.apellidos }}</h6>
          </div>
          <div>
            <h6>{{ user.pais }}, {{ user.provincia }}</h6>
          </div>
        </div>
      </div>
    </div>

    <div style="padding-top: 2vh">
      <button id="buttonInicio" type="button" class="buttonCustom btn buttonCustomColor" routerLink="/index-user">
        <svg class="bi bi-house-door-fill" width="1.2em" height="1.2em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path d="M6.5 10.995V14.5a.5.5 0 01-.5.5H2a.5.5 0 01-.5-.5v-7a.5.5 0 01.146-.354l6-6a.5.5 0 01.708 0l6 6a.5.5 0 01.146.354v7a.5.5 0 01-.5.5h-4a.5.5 0 01-.5-.5V11c0-.25-.25-.5-.5-.5H7c-.25 0-.5.25-.5.495z"/>
          <path fill-rule="evenodd" d="M13 2.5V6l-2-2V2.5a.5.5 0 01.5-.5h1a.5.5 0 01.5.5z" clip-rule="evenodd"/>
        </svg>
        Inicio
      </button><br>
      <button id="buttonPerfil" type="button" class="buttonCustom btn btn-primary" routerLink="/profile">
        <svg class="bi bi-person-fill" width="1.2em" height="1.2em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 100-6 3 3 0 000 6z" clip-rule="evenodd"/>
        </svg>
        Perfil
      </button>
      <br>
      <button id="buttonConversaciones" type="button" class="buttonCustom btn buttonCustomColor" routerLink="/chat-user">
        <svg class="bi bi-chat-square-dots-fill" width="1.2em" height="1.2em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M0 2a2 2 0 012-2h12a2 2 0 012 2v8a2 2 0 01-2 2h-2.5a1 1 0 00-.8.4l-1.9 2.533a1 1 0 01-1.6 0L5.3 12.4a1 1 0 00-.8-.4H2a2 2 0 01-2-2V2zm5 4a1 1 0 11-2 0 1 1 0 012 0zm4 0a1 1 0 11-2 0 1 1 0 012 0zm3 1a1 1 0 100-2 1 1 0 000 2z" clip-rule="evenodd"/>
        </svg>
        Conversaciones
      </button>
      <br>
      <button id="buttonEstadisticas" type="button" class="buttonCustom btn buttonCustomColor" routerLink="/stats-user">
        <svg class="bi bi-graph-up" width="1.2em" height="1.2em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path d="M0 0h1v16H0V0zm1 15h15v1H1v-1z"/>
          <path fill-rule="evenodd" d="M14.39 4.312L10.041 9.75 7 6.707l-3.646 3.647-.708-.708L7 5.293 9.959 8.25l3.65-4.563.781.624z" clip-rule="evenodd"/>
          <path fill-rule="evenodd" d="M10 3.5a.5.5 0 01.5-.5h4a.5.5 0 01.5.5v4a.5.5 0 01-1 0V4h-3.5a.5.5 0 01-.5-.5z" clip-rule="evenodd"/>
        </svg>
        Estadísticas
      </button>
      <br>
      <button id="buttonSalir" type="button" class="buttonCustom btn btn-danger"
              style="margin-top: 10vh; margin-bottom: 10vh" (click)="currentUser.logOut()" routerLink="/login">
        <svg class="bi bi-box-arrow-left" width="1.2em" height="1.2em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M4.354 11.354a.5.5 0 000-.708L1.707 8l2.647-2.646a.5.5 0 10-.708-.708l-3 3a.5.5 0 000 .708l3 3a.5.5 0 00.708 0z" clip-rule="evenodd"/>
          <path fill-rule="evenodd" d="M11.5 8a.5.5 0 00-.5-.5H2a.5.5 0 000 1h9a.5.5 0 00.5-.5z" clip-rule="evenodd"/>
          <path fill-rule="evenodd" d="M14 13.5a1.5 1.5 0 001.5-1.5V4A1.5 1.5 0 0014 2.5H7A1.5 1.5 0 005.5 4v1.5a.5.5 0 001 0V4a.5.5 0 01.5-.5h7a.5.5 0 01.5.5v8a.5.5 0 01-.5.5H7a.5.5 0 01-.5-.5v-1.5a.5.5 0 00-1 0V12A1.5 1.5 0 007 13.5h7z" clip-rule="evenodd"/>
        </svg>
        Salir
      </button>
    </div>

  </div>


  <!------------------------------- SECOND COLUMN ----------------------------------------------->


  <div class="col-9" style="text-align: center; padding: unset">

    <div style="padding-right: inherit; background-color: #f2f2f2;
     border-bottom: 5px solid #d9d9d9">
      <div class="row" style="height: 15vh; padding-top: 5vh">
        <div style="margin-right: 4%; margin-left: 25%">
          <svg class="bi bi-person-fill" width="3em" height="3em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 100-6 3 3 0 000 6z" clip-rule="evenodd"/>
          </svg>
        </div>
        <div id="pageName">
          <h1>{{ pageName }}</h1>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-9" style="height: 60vh; border-right: 1vh solid #d9d9d9;
       border-left: 1vh solid #d9d9d9; text-align: center; padding: unset">


        <div class="col" style="height: 15vh; width: 100%">

          <div class="row" style="height: 40%">
            <div class="col" style="text-align: left; margin-top: auto; margin-left: 2vh">
              <h4>Bienvenido, {{ user.nombre }} {{ user.apellidos }}</h4>
            </div>
          </div>

          <br>
          <div class="row" style="height: 40%">
            <div class="col" style="text-align: left; margin-top: auto; margin-left: 25%">
              <div class="form-group">
                <label class="control-label">País</label>
                <select #letras id="pais" class="custom-select" (change)="getProvincias()">
                  <option value="ES">España</option>
                  <option value="IT">Italia</option>
                  <option value="FR">Francia</option>
                  <option value="GR">Grecia</option>
                  <option value="BE">Bélgica</option>
                  <option value="AT">Austria </option>
                  <option value="BG">Bulgaria</option>
                  <option value="HR">Croacia</option>
                  <option value="CY">Chipre</option>
                  <option value="CZ">Republica checa</option>
                  <option value="DK">Dinamarca</option>
                  <option value="EE">Estonia</option>
                  <option value="FI">Finlandia</option>
                  <option value="DE">Alemania</option>
                  <option value="HU">Hungría</option>
                  <option value="IE">Irlanda</option>
                  <option value="LT">Lituania</option>
                  <option value="LU">Luxemburgo</option>
                  <option value="MT">Malta</option>
                  <option value="NL">Paises Bajos</option>
                  <option value="PL">Polonia</option>
                  <option value="PT">Portugal</option>
                  <option value="RU">Rumania</option>
                  <option value="SK">Eslovaquia</option>
                  <option value="SI">Eslovenia</option>
                  <option value="SE">Suecia</option>
                  <option value="GB">Reino Unido</option>
                </select>
                <small>Tuyo: {{user.pais}}</small>
              </div>
            </div>
            <div class="col" style="text-align: left; margin-top: auto; margin-right: 25%">
              <div class="form-group">
                <label class="control-label">Provincia</label>
                <select id="provincia" class="custom-select" (change)="getProvincias()">
                  <option  *ngFor="let provincia of provincias">{{ provincia }}</option>
                </select>
                <small>Tuyo: {{user.provincia}}</small>
              </div>
            </div>
          </div>
          <br>
          <br>
          <br>
          <br>
          <br>
          <div class="row" style="height: 40%">
            <div class="col" style="text-align: center; margin-top: auto; margin-left: 25%">
              <button type="button" (click)="update()"
                      class="btn btn-primary">Guardar cambios</button>
            </div>
            <div *ngIf="user.contrasena" class="col" style="text-align: center; margin-top: auto; margin-right: 25%">
              <button id="buttonCambiarContrasena" type="button" routerLink="/change-password" class="btn btn-primary">Cambiar contraseña</button>
            </div>
          </div>
          <br>
          <div class="row" style="height: 40%">
            <div class="col" style="text-align: center; margin-top: auto">
              <button (click)="eliminarPrevious()" id="buttonDarDeBaja" type="button" class="btn btn-danger">Dar de baja esta cuenta</button>
            </div>
          </div>
          <br>
          <div *ngIf="eliminarBool" class="row" style="height: 40%">
            <h4>¿Estás seguro de que quieres dar de baja (eliminar) esta cuenta? Esta acción no se puede deshacer</h4>
            <div class="col" style="text-align: center; margin-top: auto; margin-left: 25%">
              <button type="button" (click)="eliminarPrevious()"
                      class="btn btn-primary">Cancelar</button>
            </div>
            <div class="col" style="text-align: center; margin-top: auto; margin-right: 25%">
              <button (click)="eliminar()" id="buttonConfirmarEliminar" type="button" routerLink="/login" class="btn btn-danger">Confirmar</button>
            </div>
          </div>
        </div>

      </div>
      <div class="col-3">

      </div>



    </div>

  </div>

</div>
