<div class="row justify-content-center">
  <h1>Perfil Personal</h1>
</div>
<br>
<div class="row justify-content-center">
  <div class="col-sm-4">
    <br>
    <div class="row justify-content-center">
      <div class="col-sm-4">
      </div>
      <div class="col-sm-5">
        <button type="button" class="btn btn-primary btn-lg btn-block">Inicio</button>
      </div>
      <div class="col-sm-3">
      </div>
    </div>
    <br>
    <div class="row justify-content-center">
      <div class="col-sm-4">
      </div>
      <div class="col-sm-5">
        <button type="button" class="btn btn-primary btn-lg btn-block"> Conversaciones </button>
      </div>
      <div class="col-sm-3">
      </div>
    </div>
    <br>
    <div class="row justify-content-center">
      <div class="col-sm-4">
      </div>
      <div class="col-sm-5">
        <button type="button" class="btn btn-primary btn-lg btn-block">Estadísticas</button>
      </div>
      <div class="col-sm-3">
      </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="row justify-content-center">
      <div class="col-sm-4">
      </div>
      <div class="col-sm-5">
        <button type="button" class="btn btn-primary btn-lg btn-block">Salir</button>
      </div>
      <div class="col-sm-3">
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <br>
    <div class="row justify-content-center">
      <div class="container justify-content-center" style="background-color: #f7f7f7">
          <label class="control-label">Bienvenido, </label>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="jumbotron justify-content-center" style="background-color: #f7f7f7">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <select class="custom-select">
                <option selected="">País</option>
                <option value="1">España</option>
                <option value="2">Italia</option>
                <option value="3">Francia</option>
              </select>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <select class="custom-select">
                <option selected="">Provincia</option>
                <option value="1">España</option>
                <option value="2">Italia</option>
                <option value="3">Francia</option>
              </select>
            </div>
          </div>
        </div>
        <br>
        <div class="row">
          <label class="control-label" for="inputNewPass">Introduzca su nueva contraseña </label>
          <input class="form-control" id="inputNewPass">
        </div>
        <br>
        <div class="row">
          <label class="control-label" for="inputNewPassAgain">Confirme su nueva contraseña </label>
          <input class="form-control" id="inputNewPassAgain">
        </div>
        <br>
        <div class="row justify-content-center">
          <button type="button" class="btn btn-primary btn-lg">Guardar Cambios</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-4">

  </div>
</div>
