<div class="container justify-content-center" style="background-color: #f7f7f7; max-width: inherit; height: 100vh">
  <div class="row justify-content-center" style="padding-top: 4vh">
    <h1> Regístrate en Descubre Aragón </h1>
  </div>


<br>

<div class="row justify-content-center">
  <div class="col-sm-3">
  </div>
  <div class="col-sm-3">
    <label>Nombre</label>
    <input #nombre class="form-control">
  </div>

  <div class="col-sm-3">
    <label>Apellidos</label>
    <input #apellidos class="form-control">
  </div>
  <div class="col-sm-3">
  </div>
</div>

<br>

<div class="row justify-content-center">
  <div class="col-sm-3">
  </div>
  <div class="col-sm-3">
    <label>Fecha de nacimiento</label>
    <input #nacimiento class="form-control">
  </div>

  <div class="col-sm-3">
    <label>Teléfono </label>
    <input #telefono class="form-control">
  </div>
  <div class="col-sm-3">
  </div>
</div>

<br>

<div class="row justify-content-center">
  <div class="col-sm-3">
  </div>
  <div class="col-sm-3">
    <label>País</label>
    <input #pais class="form-control">
  </div>

  <div class="col-sm-3">
    <label> Provincia </label>
    <input #provincia class="form-control">
  </div>
  <div class="col-sm-3">
  </div>
</div>

<br>

<div class="row justify-content-center">
  <div class="col-sm-3">
  </div>
  <div class="col-sm-3">
    <label>Correo Electrónico</label>
    <input #email type="email" class="form-control" aria-describedby="emailHelp" placeholder="Introduzca su e-mail">
  </div>
  <div class="col-sm-3">
    <br>
    <small id="emailHelp" class="form-text text-muted">Tu información será privada y no se compartirá en ningún caso.</small>
  </div>
  <div class="col-sm-3">
  </div>
</div>

<br>

<div class="row justify-content-center">
  <div class="col-sm-3">
  </div>
  <div class="col-sm-3">
    <label>Contraseña</label>
    <input #password1 type="password" class="form-control">
  </div>
  <div class="col-sm-3">
    <label>Confirmar contraseña</label>
    <input #password2 type="password" class="form-control">
  </div>
  <div class="col-sm-3">
  </div>
</div>

<br>

<div class="row justify-content-center">
  <button type="button" (click)="registerUser(nombre.value, apellidos.value, nacimiento.value, telefono.value, pais.value,
  provincia.value, email.value, password1.value, password2.value)" class="btn btn-primary btn-lg">Confirmar Registro</button>
</div>

<br>

</div>
