<div class="container justify-content-center" style="background-color: #f7f7f7; max-width: inherit; height: 100vh">
  <div id="pageName" class="row justify-content-center" style="padding-top: 4vh">
    <h1>{{ pageName }}</h1>
  </div>


<br>

<div class="row justify-content-center">
  <div class="col-sm-3">
  </div>
  <div class="col-sm-3">
    <label>Nombre</label>
    <input id="nombre" class="form-control">
    <h6 class="text-danger">{{this.aviso2}}</h6>
  </div>

  <div class="col-sm-3">
    <label>Apellidos</label>
    <input id="apellidos" class="form-control">
    <h6 class="text-danger">{{this.aviso3}}</h6>
  </div>
  <div class="col-sm-3">
  </div>
</div>

<br>

<div class="row justify-content-center">
  <div class="col-sm-3">
  </div>
  <div class="col-sm-3">
    <label>Fecha de nacimiento</label>
    <input id="fecha" class="form-control" type="date">
  </div>

  <div class="col-sm-3">
    <label>Teléfono </label>
    <input id="telefono" class="form-control">
    <h6 class="text-danger">{{this.aviso4}}</h6>
  </div>
  <div class="col-sm-3">
  </div>
</div>

<br>

<div class="row justify-content-center">
  <div class="col-sm-3">
  </div>
  <div class="col-sm-3">
    <label>País</label>
    <select id="pais" class="custom-select" (change)="getProvincias()">
      <option value="ES">España</option>
      <option value="IT">Italia</option>
      <option value="FR">Francia</option>
      <option value="GR">Grecia</option>
      <option value="BE">Bélgica</option>
      <option value="AT">Austria </option>
      <option value="BG">Bulgaria</option>
      <option value="HR">Croacia</option>
      <option value="CY">Chipre</option>
      <option value="CZ">Republica checa</option>
      <option value="DK">Dinamarca</option>
      <option value="EE">Estonia</option>
      <option value="FI">Finlandia</option>
      <option value="DE">Alemania</option>
      <option value="HU">Hungría</option>
      <option value="IE">Irlanda</option>
      <option value="LT">Lituania</option>
      <option value="LU">Luxemburgo</option>
      <option value="MT">Malta</option>
      <option value="NL">Paises Bajos</option>
      <option value="PL">Polonia</option>
      <option value="PT">Portugal</option>
      <option value="RU">Rumania</option>
      <option value="SK">Eslovaquia</option>
      <option value="SI">Eslovenia</option>
      <option value="SE">Suecia</option>
      <option value="GB">Reino Unido</option>
    </select>
  </div>

  <div class="col-sm-3">
    <label class="control-label">Provincia</label>
    <select id="provincia" class="custom-select" (change)="getProvincias()">
      <option  *ngFor="let provincia of provincias">{{ provincia }}</option>
    </select>
  </div>
  <div class="col-sm-3">
  </div>
</div>

<br>

<div class="row justify-content-center">
  <div class="col-sm-3">
  </div>
  <div class="col-sm-3">
    <label>Correo Electrónico</label>
    <input id="email" type="email" class="form-control" aria-describedby="emailHelp" placeholder="Introduzca su e-mail">
    <h6 class="text-danger">{{this.aviso5}}</h6>
  </div>
  <div class="col-sm-3">
    <br>
    <small id="emailHelp" class="form-text text-muted">Tu información será privada y no se compartirá en ningún caso.</small>
  </div>
  <div class="col-sm-3">
  </div>
</div>

<br>

<div class="row justify-content-center">
  <div class="col-sm-3">
  </div>
  <div class="col-sm-3">
    <label>Contraseña</label>
    <input id="password1" type="password" class="form-control">
    <h6 class="text-danger">{{this.aviso}}</h6>
    <h6 class="text-danger">{{this.aviso6}}</h6>
  </div>
  <div class="col-sm-3">
    <label>Confirmar contraseña</label>
    <input id="password2" type="password" class="form-control">
  </div>
  <div class="col-sm-3">
  </div>
</div>

<br>

<div class="row justify-content-center">
  <button id="buttonVolver" style="margin-right: 5%" type="button" routerLink="/login" class="btn btn-danger">Volver</button>
  <button id="buttonConfirmar" style="margin-left: 5%" type="button" (click)="registro()" class="btn btn-primary btn-lg">Confirmar Registro</button>
</div>

<br>

</div>
